<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.martial.salaryup">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".OnboardingCongratulation"
            android:exported="false" />
        <activity
            android:name=".OnboardingInviteCode"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OnboardingScanCode"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".OnboardingName"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OnboardingPhone"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OnboardingEmail"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OnboardingPermission"
            android:exported="false" />
        <activity
            android:name=".OnboardingInstructions"
            android:exported="false" />
        <activity
            android:name=".OnboardingOldUser"
            android:exported="false" />
        <activity
            android:name=".OnboardingWelcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>